@page "{id:int}"
@model SupermarketWEB.Pages.PayModes.EditModel
@{
    ViewData["Title"] = "Edit PayModes";
}
<h1>Edit PayMode</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PayMode.Id" />
    <div class="form-group">
        <label asp-for="PayMode.Name" class="control-label"></label>
        <input asp-for="PayMode.Name" class="form-control" />
        <span asp-validation-for="PayMode.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PayMode.Description" class="control-label"></label>
        <input asp-for="PayMode.Description" class="form-control" />
        <span asp-validation-for="PayMode.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PayMode.IsActive" class="control-label"></label>
        <input asp-for="PayMode.IsActive" class="form-control" />
        <span asp-validation-for="PayMode.IsActive" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PayMode.CreatedAt" class="control-label"></label>
        <input asp-for="PayMode.CreatedAt" class="form-control" />
        <span asp-validation-for="PayMode.CreatedAt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PayMode.UpdatedAt" class="control-label"></label>
        <input asp-for="PayMode.UpdatedAt" class="form-control" />
        <span asp-validation-for="PayMode.UpdatedAt" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-page="/PayModes/Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>